<% if(errors)  { %>
<div class="row">
  <div class="col my-3">
    <div class="alert alert-danger">
      <% errors.forEach(error => { %>
        <%= error %> <br>
        <% }) %> 
    </div>
  </div>
</div>
<% } %>